{% load i18n %}

{% load static %}
<html>
    <head>
        <title>Ambassadors | Exrates</title>
<meta name="description" content="Meet official representatives of Exrates exchange. And become one of them!" />
        <!-- Main Meta information-->
        {% include 'basic/_head.html' %}
    </head>
    <body>
        <div class="form-listing-wr a-form">
            <div class="top-part">
                <div class="logo">
                    <img src="{% static 'img/pics/logo-header.svg' %}" alt="">
                </div>
                <div class="description">
                    <p>Cryptocurrency Exchange</p>
                </div>
            </div>
            <div class="form-part">
                <form action="{% url 'advisor-form' %}" class="list-form nomodal" enctype="multipart/form-data" method="POST">{% csrf_token %}
                    <!-- start default variant -->
                    <div class="left-part">
                        <div class="title">
                            <h3 class="variable-title">Fill the form to become an Ambassador</h3>
                        </div>
                        <div class="inputs-wr">
                            <div class="wrap-input input-item popup__wrap-input">
                                <input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="name" id="id_name">
                                <label class="wrap-input__label" for="id_name">Name*</label>
                                <label class="error" for="id_name"><span class="standart-text">{{ form.name.errors }}</span></label>
                            </div>
                            <div class="wrap-input input-item popup__wrap-input">
                                <input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="telegram" id="id_telegram" data-name="tg">
                                <label class="wrap-input__label" for="id_telegram">Telegram*</label>
                                <label class="error" for="id_telegram"><span class="standart-text"></span></label>
                            </div>
                            <div class="wrap-input input-item popup__wrap-input">
                                <input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="email" id="id_email">
                                <label class="wrap-input__label" for="id_email">Email*</label>
                                <label class="error" for="id_email"><span class="standart-text"></span></label>
                            </div>
                            <div class="wrap-input input-item popup__wrap-input">
                                <input class="wrap-input__input ng-dirty ng-valid ng-touched form-input reqiered-field" autocomplete="new-password" type="text" name="linkedin" id="id_linkedin" data-name="link">
                                <label class="wrap-input__label" for="id_linkedin">Linkedin*</label>
                                <label class="error" for="id_linkedin"><span class="standart-text"></span></label>
                            </div>
                        </div>
                         <div class="button-wr">
                    <button class="standart-btn" type="submit"><span>Submit</span></button>
                </div>
                <div class="left-part success-mess">
                    <div class="top-part">
                        <div class="pic">
                            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                                <circle cx="40" cy="40" r="39" stroke="#94C2FF" stroke-width="2" />
                                <rect x="22" y="37.1924" width="3" height="20" rx="1.5" transform="rotate(-45 22 37.1924)" fill="#94C2FF" />
                                <rect x="55.2344" y="28" width="3" height="30" rx="1.5" transform="rotate(45 55.2344 28)" fill="#94C2FF" />
                            </svg>
                        </div>
                        <div class="message-txt">
                            <p>IEO request submitted</p>
                        </div>
                    </div>
                    <div class="bottom-part">
                        <nav class="success-nav">
                            <ul class="success-nav-list">
                                <li class="success-nav-list-item">
                                    <a href="https://exrates.me/dashboard"><span>Trade</span></a>
                                </li>
                                <li class="success-nav-list-item">
                                    <a href="{%  url 'support-center'%}"><span>Support</span></a>
                                </li>
                                <li class="success-nav-list-item">
                                    <a href="https://exrates.me/ieo"><span>Token Sale</span></a>
                                </li>
                                <li class="success-nav-list-item">
                                    <a href="{% url 'client-center' %}"><span>Contacts</span></a>
                                </li>
                                <li class="success-nav-list-item">
                                    <a href="{% url 'fiat'%}"><span>Fiat</span></a>
                                </li>
                                <li class="success-nav-list-item">
                                    <a href="#"><span>Announcements</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="right-part">
                <div class="title-wr">
                    <h4>Benefits for Exrates Ambassadors</h4>
                </div>
                <div class="a-info-part">
                    <ul class="a-form-list">
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form1.svg'%}" alt="">
                            </div>
                            <span>Special reward system for ambassadors: <br>get from 5% to 15%</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form2.svg'%}" alt="">
                            </div>
                            <span>Get exclusive analytical market reports</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form3.svg'%}" alt="">
                            </div>
                            <span>Participation in online trainings & webinars</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form4.svg'%}" alt="">
                            </div>
                            <span>Your personal page on Exchange website</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form5.svg'%}" alt="">
                            </div>
                            <span>Your personal manager</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form6.svg' %}" alt="">
                            </div>
                            <span>Attend conferences & events as a part of Exrates team</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form7.svg'%}" alt="">
                            </div>
                            <span>An opportunity to become a part of international community</span>
                        </li>
                        <li>
                            <div class="icon">
                                <img src="{% static 'img/pics/a-form8.svg'%}" alt="">
                            </div>
                            <span>Referral program</span>
                        </li>
                    </ul>
                </div>
                <div class="back-btn">
                    <a href="#" onclick="window.history.back()"><span>
                            < Back</span> </a> </div> </div> </form> </div>
        </div>
        {% include 'basic/_scripts.html' %}

    </body>



</html>