{% extends 'base.html' %}
{% load static urls %}
{% load cache %}
{% block title %}

<title>Become an Ambassador | Exrates</title>
<meta name="description" content="Become a part of TOP30 crypto exchange! Join Exrates Ambassador team. Just fill the form and we will contact you." />

{% endblock %}

{% cache 500 contacts %}
{% block content %}{% get_extra_fields as extra_fields %}

            <div class="advisor-page">
                <div class="advisor--inner">
                    <div class="advisor-fs">
                        <div class="fs-image-container">
                            <img src="{% static 'img/pics/fiat-fs-bg.png'%}" alt="">
                        </div>
                        <div class="fs-wr">
                            <div class="title-wr">
                                <h2>Become an Official Ambassador of Exrates Exchange!</h2>
                            </div>
                            <div class="button-part">
                                <div class="button-wr">
                                    <a href="{% url 'advisor-form' %}" class="standart-btn"><span>Apply form</span></a>
                                </div>
                                <div class="button-wr">
                                    <a href="{% url 'adviser-demo' %}" class="standart-btn reverse"><span>View demo</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="how-get">
                        <div class="title">
                            <h4>Benefits for Exrates Ambassadors</h4>
                        </div>
                         <div class="how-get-item-wr">
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become1.svg' %}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>Special reward system for advisors: <br>get from 5% to 15%</h5>
                                </div>
                            </div>
                            <div class="how-get-item hover exclusive">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become2.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>Your <span>personal page</span> <br>on Exchange website</h5>
                                </div>
                            </div>
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become3.svg' %}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>Attend conferences and events as <br>a part of Exrates team</h5>
                                </div>
                            </div>
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become4.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>Get exclusive <br>analytical market reports</h5>
                                </div>
                            </div>
                            <!-- <div class="how-get-item">
					<div class="pic">
						<img src="img/pics/become5.svg" alt="">
					</div>
					<div class="head-item">
						<h5>Your personal manager</h5>
					</div>

				</div> -->
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become8.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>Referral program</h5>
                                </div>
                            </div>
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become6.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>An opportunity to become a <br>part of international community</h5>
                                </div>
                            </div>
                            <!-- <div class="how-get-item">
					<div class="pic">
						<img src="img/pics/become7.svg" alt="">
					</div>
					<div class="head-item">
						<h5>Participation in online trainings <br>& webinars</h5>
					</div>

				</div> -->
                            <!-- <div class="how-get-item empty">

				</div> -->
                        </div>
                    </div>
                    <div class="exchange-info">
                        <div class="title">
                            <h4>What is Exrates?</h4>
                        </div>
                        <div class="exchange-item-wr">
                            <div class="exchange-item">
                                <div class="title">
                                    <p>Trading volume for 24h</p>
                                </div>
                                <div class="value">
                                    <span>${{ extra_fields.trading_volumes }}</span>
                                </div>
                            </div>
                            <div class="exchange-item">
                                <div class="title">
                                    <p>Trading pairs</p>
                                </div>
                                <div class="value">
                                    <span>{{ extra_fields.trading_pairs }}</span>
                                </div>
                            </div>
                            <div class="exchange-item">
                                <div class="title">
                                    <p>Active traders</p>
                                </div>
                                <div class="value">
                                    <span>{{ extra_fields.active_trades }} +</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits">
                        <div class="title">
                            <h4>What is Exrates for traders?</h4>
                        </div>
                        <div class="benefits-item-wr">
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>Personal Bank Account</h5>
                                </div>
                                <div class="description">
                                    <p>We provide personal bank account with 3rd party payment option to 231 countries.</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>Fast KYC</h5>
                                </div>
                                <div class="description">
                                    <p>Automatic KYC process with outstanding support. Fully remote account opening.</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>Payment solution powered by</h5>
                                </div>
                                <div class="description">
                                    <p>Singaporean bank with the same license as PayPal & Apple Pay.</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>Low commissions</h5>
                                </div>
                                <div class="description">
                                    <p>Free of charge SEPA outgoing payments.</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>0% Transfer Fee</h5>
                                </div>
                                <div class="description">
                                    <p>0% transfer fee between personal and trading account on Exrates</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>Up to $500,000 monthly</h5>
                                </div>
                                <div class="description">
                                    <p>For VIP clients we provide special conditions for fiat deposit and withdraw in 35 currencies.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% endcache %}