{% extends 'base.html' %}
{% load static urls %}
{% load cache %}
{%  load i18n %}
{% block title %}

<title>Become an Ambassador | Exrates</title>
<meta name="description" content="Become a part of TOP30 crypto exchange! Join Exrates Ambassador team. Just fill the form and we will contact you." />

{% endblock %}

{% cache 500 contacts %}
{% block content %}{% get_extra_fields as extra_fields %}

            <div class="advisor-page">
                <div class="advisor--inner">
                    <div class="advisor-fs">
                        <div class="fs-image-container">
                            <img src="{% static 'img/pics/fiat-fs-bg.png'%}" alt="">
                        </div>
                        <div class="fs-wr">
                            <div class="title-wr">
                                <h2>{% blocktrans %}Become an Official Ambassador of Exrates Exchange!{% endblocktrans %}</h2>
                            </div>
                            <div class="button-part">
                                <div class="button-wr">
                                    <a href="{% url 'advisor-form' %}" class="standart-btn"><span>{% blocktrans %}Apply form{% endblocktrans %}</span></a>
                                </div>
                                <div class="button-wr">
                                    <a href="{% url 'adviser-demo' %}" class="standart-btn reverse"><span>{% blocktrans %}View demo{% endblocktrans %}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="how-get">
                        <div class="title">
                            <h4>{% blocktrans %}Benefits for Exrates Ambassadors{% endblocktrans %}</h4>
                        </div>
                         <div class="how-get-item-wr">
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become1.svg' %}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>{% blocktrans %}Special reward system for advisors: <br>get from 5% to 15%{% endblocktrans %}</h5>
                                </div>
                            </div>
                            <div class="how-get-item hover exclusive">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become2.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>{% blocktrans %}Your <span>personal page</span> <br>on Exchange website{% endblocktrans %}</h5>
                                </div>
                            </div>
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become3.svg' %}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>{% blocktrans %}Attend conferences and events as <br>a part of Exrates team{% endblocktrans %}</h5>
                                </div>
                            </div>
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become4.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>{% blocktrans %}Get exclusive <br>analytical market reports{% endblocktrans %}</h5>
                                </div>
                            </div>
                            <!-- <div class="how-get-item">
					<div class="pic">
						<img src="img/pics/become5.svg" alt="">
					</div>
					<div class="head-item">
						<h5>Your personal manager</h5>
					</div>

				</div> -->
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become8.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>{% blocktrans %}Referral program{% endblocktrans %}</h5>
                                </div>
                            </div>
                            <div class="how-get-item">
                                <div class="pic">
                                    <img src="{%  static  'img/pics/become6.svg'%}" alt="">
                                </div>
                                <div class="head-item">
                                    <h5>{% blocktrans %}An opportunity to become a <br>part of international community{% endblocktrans %}</h5>
                                </div>
                            </div>
                            <!-- <div class="how-get-item">
					<div class="pic">
						<img src="img/pics/become7.svg" alt="">
					</div>
					<div class="head-item">
						<h5>Participation in online trainings <br>& webinars</h5>
					</div>

				</div> -->
                            <!-- <div class="how-get-item empty">

				</div> -->
                        </div>
                    </div>
                    <div class="exchange-info">
                        <div class="title">
                            <h4>{% blocktrans %}What is Exrates?{% endblocktrans %}</h4>
                        </div>
                        <div class="exchange-item-wr">
                            <div class="exchange-item">
                                <div class="title">
                                    <p>{% blocktrans %}Trading volume for 24h{% endblocktrans %}</p>
                                </div>
                                <div class="value">
                                    <span>${{ extra_fields.trading_volumes }}</span>
                                </div>
                            </div>
                            <div class="exchange-item">
                                <div class="title">
                                    <p>{% blocktrans %}Trading pairs{% endblocktrans %}</p>
                                </div>
                                <div class="value">
                                    <span>{{ extra_fields.trading_pairs }}</span>
                                </div>
                            </div>
                            <div class="exchange-item">
                                <div class="title">
                                    <p>{% blocktrans %}Active traders{% endblocktrans %}</p>
                                </div>
                                <div class="value">
                                    <span>{{ extra_fields.active_trades }} +</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefits">
                        <div class="title">
                            <h4>{% blocktrans %}What is Exrates for traders?{% endblocktrans %}</h4>
                        </div>
                        <div class="benefits-item-wr">
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>{% blocktrans %}Personal Bank Account{% endblocktrans %}</h5>
                                </div>
                                <div class="description">
                                    <p>{% blocktrans %}We provide personal bank account with 3rd party payment option to 231 countries.{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>{% blocktrans %}Fast KYC{% endblocktrans %}</h5>
                                </div>
                                <div class="description">
                                    <p>{% blocktrans %}Automatic KYC process with outstanding support. Fully remote account opening.{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>{% blocktrans %}Payment solution powered by{% endblocktrans %}</h5>
                                </div>
                                <div class="description">
                                    <p>{% blocktrans %}Singaporean bank with the same license as PayPal & Apple Pay.{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>{% blocktrans %}Low commissions{% endblocktrans %}</h5>
                                </div>
                                <div class="description">
                                    <p>{% blocktrans %}Free of charge SEPA outgoing payments.{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>{% blocktrans %}0% Transfer Fee{% endblocktrans %}</h5>
                                </div>
                                <div class="description">
                                    <p>{% blocktrans %}0% transfer fee between personal and trading account on Exrates{% endblocktrans %}</p>
                                </div>
                            </div>
                            <div class="benefits-item">
                                <div class="title-b">
                                    <h5>{% blocktrans %}Up to $500,000 monthly{% endblocktrans %}</h5>
                                </div>
                                <div class="description">
                                    <p>{% blocktrans %}For VIP clients we provide special conditions for fiat deposit and withdraw in 35 currencies.{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
{% endcache %}