{% load static %}


 <meta charset="utf-8" />
    <meta http-equiv="Cache-control" content="public" />
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:600,500,400,300' rel='stylesheet' type='text/css'>
    <!-- Meta Information-->
    <meta name="robots" content="index, follow" />
    <link type="text/plain" rel="author" href="{% static 'humans.txt'%}" />
    <!-- Get html5shiv if this is IE lower or equal to 9-->
    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <link rel="stylesheet" href="{% static 'css/main.min.css'%}" />
/>
    <!-- Google Tag Manager -->
    <!-- Get html5shiv if this is IE lower or equal to 9-->
    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <link rel="preload" href="{% static 'css/main.min.css' %}" as="style" onload="this.rel='stylesheet'">
    <script>
        (function(w, d, s, l, i)
        {
            w[l] = w[l] || [];
            w[l].push(
            {
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WHBHRK6');
    </script>
    <!-- End Google Tag Manager -->

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

