{% load static %}
{% load i18n %}

<div class="scripts">
    <script type="text/javascript">
        var EmptyError = "{%  trans 'can&#39;t be empty' %}";
        var EmailError = "{%  trans 'invalid email' %}";
        var TgError = "{%  trans 'Please type your telegram nickname with @ or your phone number'%}";
        var UrlError = "{%  trans 'incorrect format'%}";
    </script>

    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" async></script>
    <script type="text/javascript">
        function googleTranslateElementInit()
        {
            new google.translate.TranslateElement(
            {
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript">
        (function()
        {
            console.log(document.documentElement.clientWidth)
            if (document.documentElement.clientWidth > 992)
            {
                var wf = document.createElement('script');
                wf.id = 'ze-snippet';
                wf.src = 'https://static.zdassets.com/ekr/snippet.js?key=78adf70e-5079-4b7b-8bcd-f2781bcb8611';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            }
        })();
    </script>
    <script src="{% static 'js/vendor-bundle.min.js' %}"></script>
    <script src="{% static 'js/custom-bundle.min.js'%}"></script>
</div>