{% load static %}

<div class="scripts">
    <!-- Set JS assets-->
    <script type="text/javascript">
        function googleTranslateElementInit()
        {
            new google.translate.TranslateElement(
            {
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" async=""></script>
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=78adf70e-5079-4b7b-8bcd-f2781bcb8611"> </script>
    <script type="text/javascript">
        zE('webWidget', 'setLocale', 'en');
    </script>
    <script type="text/javascript">
        setTimeout(function()
        {
            $zopim(function()
            {
                $zopim.livechat.addTags('Exrates');
            });
        }, 1000)
    </script>
    <script src="{%  static 'js/vendor-bundle.min.js' %}"></script>
    <!-- <script src="js/custom-bundle.min.js"></script> -->



    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WHBHRK6');</script>
<!-- End Google Tag Manager -->


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WHBHRK6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="text/javascript">
    zE('webWidget', 'setLocale', 'en');
  </script>

  <script type="text/javascript">
    setTimeout(function(){
      $zopim(function(){

        $zopim.livechat.addTags('Exrates');

      });
    },1000)



  </script>
</div>