{% load static from staticfiles %}
{% load i18n urls%}
<!DOCTYPE html>
<html lang="en">
<head>


    {%  block title %}


    {% endblock %}

    <!-- Main Meta information-->
{% include 'basic/_head.html' %}
</head>

<body>
{% block header %}
    {% include "basic/_header.html" %}

{% endblock %}
{% block body %}
     {% get_extra_fields as extra_fields %}

<body>
        <main>
    {% block content %}
    {% endblock %}
        </main>
</body>
{% endblock %}
<div class="footer">
        {% block footer %}
            {% include "basic/_footer.html" %}
        {% endblock %}
    </div>

<div class="overlay modal thk-modal">
    <div class="popup">
        <div class="popup__close close-trigger"></div>
        <div class="logo-login-mob mobile-container"><img alt="" src="{%  static 'img/pics/logo-exrates.svg'%}"></div>
        <h6 class="popup__title">{% blocktrans %}Thank you{% endblocktrans %}</h6>
        <p class="popup__subtitle">{% blocktrans %}Our specialist will contact you shortly{% endblocktrans %}</p>
        <div class="button-wr">
            <button class="standart-btn close-trigger" type="submit"><span>OK</span></button>
        </div>
    </div>
</div>
<div class="overlay modal err-modal">
    <div class="popup">
        <div class="popup__close close-trigger"></div>
        <div class="logo-login-mob mobile-container"><img alt="" src="{% static 'img/pics/logo-exrates.svg'%}"></div>
        <h6 class="popup__title">{% blocktrans %}Error{% endblocktrans %}</h6>
        <p class="popup__subtitle">{% blocktrans %}Please resend the form{% endblocktrans %}</p>
        <div class="button-wr">
            <button class="standart-btn close-trigger" type="submit"><span>OK</span></button>
        </div>
    </div>
</div>

{% block extrajs %}    {% endblock %}


{% include 'basic/_scripts.html' %}

</body>
</html>


